/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #151515FF;
    background-alt: #353535FF;
    foreground:     #EBDBB2FF;
    selected:       #16a167aa;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
