* {
  font-family: JetBrainsMono, SpaceMono;
  color: #e5e9f0;
  /* background: transparent; */
}

#window {
  background: rgba(41, 46, 66, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: 5px solid #16a187;
  background-color: #151515;
  opacity: 0.9;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 10px;
}

#entry:selected {
  background-color: #16a187;
}

#text {
  margin: 2px;
}
